<!DOCTYPE html>
<html>
<head>
<meta name="FitPrymuski, dieta, fit, catering">
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="UTF-8">
<title>Zorganizuj event</title>
</head>
<body>
	<div class="button_cont" align="right">
		<a class="zamow" href="zaloguj" target="blank" rel="nofollow noopener">Zamów</a>
	</div>

	<div class="logo" align="center">
		<img id="logo" src="https://i.imgur.com/7H6vC6c.png">
	</div>
	<ul>
		<li><a href="index">Strona Główna</a></li>
		<li><a href="menu">Menu</a></li>
		<li><a href="programy">Programy</a></li>
		<li><a href="dlaczegomy">Dlaczego My?</a></li>
		<li><a href="dowoz">Dowóz</a></li>
		<li><a href="eventy">Organizacja Eventów</a></li>
		<li><a href="kontakt">Kontakt</a></li>
	</ul>
	<br>
	<div id="txtMain">Wyjątkowa oprawa wyjątkowych wydarzeń</div>
<body class="no-touch">
	<div class="wrap">
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/QFVwJdB/photo-1550305080-4e029753abcf.jpg" />
				<div class="titleBox">Warsztaty</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/CMGQz32/photo-1562672753-35e50544bbe2.jpg" />
				<div class="titleBox">Bankiety</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/s3HX5NB/photo-1551818255-e6e10975bc17.jpg" />
				<div class="titleBox">Konferencje</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/CJ0NhM4/photo-1592195613092-945310c62952.jpg" />
				<div class="titleBox">Wesela</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/kKwS2gV/photo-1512058254796-42d3fea99353.jpg" />
				<div class="titleBox">Komunie</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/t4sL3g1/photo-1471967183320-ee018f6e114a.jpg" />
				<div class="titleBox">Imprezy prywatne</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/BPNb9fk/photo-1579590029605-456853815a26.jpg" />
				<div class="titleBox">Szkolenia</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/XVHx3Qf/photo-1586972246803-d2bdc4006378.jpg" />
				<div class="titleBox">Spotkania integracyjne dla pracowników</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/zxghXqh/photo-1527529482837-4698179dc6ce.jpg" />
				<div class="titleBox">Przyjęcia</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/dc1MRsP/photo-1583958211970-af3e1596ef32.jpg" />
				<div class="titleBox">Inne uroczystości</div>
			</div>
		</div>
	</div>

	<div id="MainPanel">

		<div id="txt">
			Wydarzenie z naszym menu to nie cheatmeal tylko zdrowa, pyszna
			propozycja bez wyrzutów sumienia i zbędnych kilogramów! <br> <br>

			<center>
				Zapewniamy kompleksową obsługę wydarzeń okolicznościowych, spotkań
				pywatnych czy biznesowych. <br> Tak jak przy okazji naszego
				standardowego cateringu indywidualnego, w przypadku organizacji  wydarzeń istnieje możliwość
				dopasowania wszelkich preferencji oraz szczegółów menu.<br> <br>
				Na życzenie przedstawiamy propozycje dań opartych o sezonowe
				produkty oraz wachlarz klasycznych propozycji.<br> 
			</center>
			<br> <a href="kontakt">Skontaktuj się z nami!</a><br> <br>
			Indywidualna wycena i propozycja dań dopasowana do charakteru
			wydarzenia.

		</div>

		<br> <br> <br>
		<footer>
			<br>
			<center>Wszelkie prawa zastrzeżone | FitPrymuski © 2020</center>
		</footer>
</body>
</html>