<!DOCTYPE html>
<html>
<head>
<meta name="FitPrymuski, dieta, fit, catering">
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>
	<div class="button_cont" align="right">
		<a class="zamow" href="zaloguj" target="blank" rel="nofollow noopener">Zamów</a>
	</div>
	<div class="logo" align="center">
	<img id="logo" src="https://i.imgur.com/7H6vC6c.png">
	</div>
	<ul>
		<li><a href="index">Strona Główna</a></li>
		<li><a href="menu">Menu</a></li>
		<li><a href="programy">Programy</a></li>
		<li><a href="dlaczegomy">Dlaczego My?</a></li>
		<li><a href="dowoz">Dowóz</a></li>
		<li><a href="eventy">Organizacja Eventów</a></li>
		<li><a href="kontakt">Kontakt</a></li>
	</ul>
	<br>
	<div id="txtMain">Nasza oferta</div>
<body class="no-touch">

	<div class="wrap">
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/FHM3ybQ/louis-hansel-shotsoflouis-CSen6-H25-ZWI-unsplash.jpg" />
				<div class="titleBox">Świeże produkty</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/3MZRL8q/louis-hansel-shotsoflouis-QZZa-Gf-U5eh-E-unsplash.jpg" />
				<div class="titleBox">Profesjonalne przygotowanie</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/Db2rXPg/louis-hansel-shotsoflouis-Lp-HYb-Y6-Qu-o-unsplash.jpg" />
				<div class="titleBox">Dopracowane szczegóły</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/Cs4yjbk/louis-hansel-shotsoflouis-ph-Eaeqe555-M-unsplash.jpg" />
				<div class="titleBox">Restauracyjne podanie</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/pRd2QSN/louis-hansel-shotsoflouis-Hzu-MCJn-T70g-unsplash.jpg" />
				<div class="titleBox">Tradycyjne dania</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/27MR3vv/louis-hansel-shotsoflouis-g-BL13qb-Kp5g-unsplash.jpgg" />
				<div class="titleBox">Różnorodność</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/p4h33kP/louis-hansel-shotsoflouis-QF7-Ve3k-Lmm-M-unsplash.jpg" />
				<div class="titleBox">Przez żołądek po zdrowie</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/Hqsq8pD/louis-hansel-shotsoflouis-c59k-FF-cr-Ls-unsplash.jpg" />
				<div class="titleBox">Niebanalne smaki</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/TRv2Xsk/louis-hansel-shotsoflouis-B-1u-KNKl-Jk-A-unsplash.jpg" />
				<div class="titleBox">Świeże przyprawy</div>
			</div>
		</div>
		<div class="box">
			<div class="boxInner">
				<img
					src="https://i.ibb.co/yRpNyXD/louis-hansel-shotsoflouis-BWJof-VQy-B4w-unsplash.jpg" />
				<div class="titleBox">Produkty sezonowe</div>
			</div>
		</div>
	</div>

	<div id="MainPanel">
		<div id="txt">
			<b>Dieta Tradycyjna</b><br> Najbardziej urozmaicona i bogata
			propozycja. Zawiera produkty ze wszystkich grup żywieniowych w
			odpowiednio zbalansowanych proporcjach. Menu jest idealnym
			dopełnieniem zdrowego stylu życia i zmiany w codzienności. <br>
			<br> JUTRO SERWUJEMY: <br> Śniadanie - Pasta z indyka z
			curry, świeżymi warzywami i chlebem (jaja, gluten)<br> Obiad
			Pieczone udko z kurczaka w sosie sweet - chilli z pomidorowym ryżem i
			gotowaną fasolką szparagową (orzechy)<br> Kolacja Wege tortilla
			z czerwoną soczewicą, świeżymi warzywami i sosem jogurtowo -
			koperkowym (gluten, mleko)<br> <br> <b>Dieta
				Wegetariańska</b><br> Wykluczanie produktów odzwierzęcych staję się
			coraz popularniejsze. Również wspieramy ten ruch ze względów
			etycznych czy prozdrowotnych. Nasze propozycje dla wegetarian są
			różnorodne i niebanalne. Nowością i hitem w wśród naszych klientów
			okazały się dania z wykorzystaniem seitan. <br> <br> JUTRO
			SERWUJEMY: <br> Śniadanie Szpinakowe naleśniki z jogurtem
			porzeczkowym (jaja, mleko, gluten)<br> Obiad Seleryba w sosie
			porowym z kaszą pęczak i surówką z kiszonej kapusty (gluten)<br>
			Kolacja Kaszotto jaglane z warzywami i szarpaną mozzarellą (mleko)<br>
			<br> <b>Dieta Bezglutenowa</b><br> Ograniczenie produktów
			nieprzyjaznych dla osób cierpiących na celiakię daje pozytywne rezultaty
			u większej części społeczeństwa. Jeśli zauważasz u siebie pewien dyskomfort i uczucie ciężkości w układzie trawiennym, może warto wypróbować
			naszą dietę wykluczającą gluten? <br> <br>JUTRO
			SERWUJEMY: <br> Śniadanie - Hummus, pieczone pomidorki, chlebek
			chrupki<br> Obiad - Sztuka mięsa w sosie chrzanowym z buraczkami
			i ziemniakami <br> Kolacja - Cukinia faszerowana mięsem i
			warzywami <br> <br> <b>Dieta Spersonalizowana</b><br>
			Nasze standardowe propozycje nie spełniają Twoich oczekiwań?
			Koniecznie zostaw wiadomość w formularzu kontaktowym, a któryś z
			naszych Prymusów podejmnie rękawicę i dopasuje żywienie pod Twoje
			wymagania! Mamy doświadczenie w przygotowywaniu diet prozdrowotnych,
			redukcyjnych czy dla sportowców. <br> <br>


		</div>

		<br> <br> <br>

	</div>
	<br>
	<footer>
		<br>
		<center>Wszelkie prawa zastrzeżone | FitPrymuski © 2020</center>
	</footer>
</body>
</html>