<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="FitPrymuski, dieta, fit, catering">
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="UTF-8">
<title>Panel pracownika - reset hasła</title>
</head>
<body>
	<div class="button_cont" align="right">
		<a class="zamow" href="zaloguj" target="blank" rel="nofollow noopener">Zamów</a>
	</div>
	<div class="logo" align="center">
		<img id="logo" src="https://i.imgur.com/7H6vC6c.png">
	</div>
	<ul>
		<li><a href="index">Strona Główna</a></li>
		<li><a href="menu">Menu</a></li>
		<li><a href="programy">Programy</a></li>
		<li><a href="dlaczegomy">Dlaczego My?</a></li>
		<li><a href="dowoz">Dowóz</a></li>
		<li><a href="eventy">Organizacja Eventów</a></li>
		<li><a href="kontakt">Kontakt</a></li>
	</ul>

	<div align=center>
		<h2>Prośby o reset hasła</h2>
		<table>
			<tr>
				<th>Adres e-mail</th>
			</tr>

			<tr th:each="password : ${passwordList}">
				<td th:text="${password.getMail()}"></td>

			</tr>
		</table>
	</div>

	<br>
	<br>
	<footer>
		<br>
		<center>Wszelkie prawa zastrzeżone | FitPrymuski © 2020</center>
	</footer>
</body>
</html>