<!DOCTYPE html>
<html>
<head>
<meta name="FitPrymuski, dieta, fit, catering">
<link rel="stylesheet" type="text/css" href="style.css">
<meta charset="UTF-8">
<title>Panel pracownika</title>
</head>
<body>
	<div class="button_cont" align="right">
		<a class="zamow" href="zaloguj" target="blank" rel="nofollow noopener">Zamów</a>
	</div>
	<div class="logo" align="center">
	<img id="logo" src="https://i.imgur.com/7H6vC6c.png">
	</div>
	<ul>
		<li><a href="index">Strona Główna</a></li>
		<li><a href="menu">Menu</a></li>
		<li><a href="programy">Programy</a></li>
		<li><a href="dlaczegomy">Dlaczego My?</a></li>
		<li><a href="dowoz">Dowóz</a></li>
		<li><a href="eventy">Organizacja Eventów</a></li>
		<li><a href="kontakt">Kontakt</a></li>
	</ul>
	<br>
	<center>
		<h2>Panel pracownika</h2>
		</center>
	
	<div id="pracownik_panel">
		<br>
		
		<br> <b>KLIENCI</b><br>
		<br> 
		<a href="klienci">Lista klientów</a><br> 
		<a href="pracownik_kontakt">Lista wiadomości od klientów</a><br>
		<a href="pracownik_zmianadanych">Prośby o zmianę danych</a><br>
		<a href="pracownik_haslo">Prośby o reset hasła</a><br>
		
		<br> <b>ZAMÓWIENIA</b><br><br>
		<a href="pracownik_zamowienia">Historia zamówień</a>
		<br> <br>
	
			
		<br> <b>PROGRAMY DIETETYCZNE</b><br><br>
		<a href="dieta_dodaj">Dodaj dietę</a><br> 
		<a href="danie_dodaj">Dodaj danie</a><br> <br>
	
		<a href="dieta_lista">Lista diet</a><br> 
		<a href="danie_lista">Lista dań</a><br>
		<br> 

		<a href="index"> <input type="submit" value="Wyloguj" id="form_button"/></a> <br> <br>
		<br>
	</div>
	<br> 
	<footer>
		<br>
		<center>Wszelkie prawa zastrzeżone | FitPrymuski © 2020</center>
	</footer>
</body>
</html>